*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.img-fluid{
    width: 100%;
    height: 50vh;
}

.not-selected{
    display: none;
}
.btn{
    height: 100px;
    width:75px;
    background-color: rgba(255,255,255,0.3);
    border: solid 1px transparent;
    color: rgba(200,200,200,0.6);
    transition: 0.5s;
    outline: none;
    font-size: 3em;
    border-radius: 10px;
}
.btn:hover{
    background: rgba(200,200,200,0.6);
    transition: 0.5s;
    color: #fff;
    cursor: pointer;
}

.left{
    position: absolute;
    top: 20%;
    left: 5%;
}
.right{
    position: absolute;
    top: 20%;
    right: 5%;
}
@media (max-width: 700px) { 
    .img-fluid{
        width: 100%;
        height: 25vh;
    }
    .left{
        position: absolute;
        top: 6%;
        left: 5%;
    }
    .right{
        position: absolute;
        top: 6%;
        right: 5%;
    }
}
